<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RSS aggregator</title>
  </head>
  <body>
    <div id="app">
      <section class="jumbotron jumbotron-fluid bg-dark">
        <div class="container-xl">
          <div class="row">
            <div class="col-lg-8 mx-auto text-white">
              <h1 class="display-3">RSS aggregator</h1>
              <p class="lead">This is a RSS aggregator. Try it below!</p>
              <form>
                <div class="form-row">
                  <div class="col">
                    <input 
                      class="form-control form-control-lg" 
                      id="rssLink" 
                      placeholder="RSS link" 
                      aria-describedby="rssHelpBlock" 
                      name="rssLink" 
                      required 
                      autofocus 
                    />
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-lg px-sm-5">Add</button>
                  </div>
                </div>
              </form>
              <p class="example text-muted my-1">Example: https://ru.hexlet.io/lessons.rss</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>